<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span><img alt="image" class="img-circle" src="${base}/hplus/img/hft-logo.jpg" style="width:64px;height:64px;margin-left: 35px;"/></span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear" style="margin-left: 35px;margin-top: 5px;">
							<!-- <span class="block m-t-xs"><strong class="font-bold"><#if acctAuth?exists>${acctAuth.agentName!}</#if></strong><b class="caret"></b></span> -->
	                       <span class="text-muted text-xs block"><span id="naspAgentName"><#if acctAuth?exists>${acctAuth.mobileNo!}</#if></span><b class="caret"></b></span>  
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                       <!--  <li><a class="" href="javascript:;" onclick="updatePassword();">修改密码</a></li> -->
                    	<li><a class="" href="javascript:;" onclick="layerModel('${base}/updatepwd_view', '修改密码', '35%', '80%', false)">修改密码</a></li>
                    	<#--
                        <li><a class="J_menuItem" href="#">个人资料</a></li>
                        <li><a class="J_menuItem" href="#">联系我们</a></li>
                        <li class="divider"></li>
                        -->
                        <li>
                        <!-- <a class="layui-btn layui-btn-primary" onclick="logOut()" href="javascript:;">安全退出</a> -->
                       <!--  <a  href="javascript:;" onclick="" href="${base}/web/logout">安全退出</a> --></li>
                    </ul>
                </div>
                <div class="logo-element">XX</div>
            </li>
            
<!--            <li>
                <a href="#">
                    <i class="fa fa-cog"></i>
                    <span class="nav-label">系统管理</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li><a class="J_menuItem" href="${base}/manager/manager_list_view" data-index="1">帐号管理</a></li>
                </ul>
            </li>-->


            <li>
                <a href="#">
                    <i class="fa fa-user"></i>
                    <span class="nav-label">Excel导入导出</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li><a class="J_menuItem" href="${base}/excel/export.do" data-index="2">Excel导出</a></li>
                </ul>
            </li>

<!--            <li>
                <a href="#">
                    <i class="fa fa-group"></i>
                    <span class="nav-label">代理商管理</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li><a class="J_menuItem" href="${base}/agent/agent_list_view" data-index="2">代理商管理</a></li>
                </ul>
                <ul class="nav nav-second-level">
                    <li><a class="J_menuItem" href="${base}/agent/classify_list_view" data-index="2">代理商分级管理</a></li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-industry"></i>
                    <span class="nav-label">订单管理</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li><a class="J_menuItem" href="${base}/trans/trans_ins_jnls_view" data-index="3">保险流水查询</a></li>
					<li><a class="J_menuItem" href="${base}/trans/trans_loan_jnls_view" data-index="4">贷款流水查询</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-align-left"></i>
                    <span class="nav-label">交易管理</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li><a class="J_menuItem" href="${base}/trans/idv/trans_balance_jnls_view" data-index="5">余额流水查询</a></li>
                    &lt;!&ndash;<li><a class="J_menuItem" href="${base}/trans/pay/trans_paycore_jnls_view" data-index="6">交易流水查询</a></li>&ndash;&gt;
                    <li><a class="J_menuItem" href="${base}/trans/idv/trans_integral_jnls_view" data-index="7">积分流水查询</a></li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-credit-card"></i>
                    <span class="nav-label">产品管理</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
					<li><a class="J_menuItem" href="${base}/product/product_view" data-index="8">产品管理</a></li>
                </ul>
            </li>-->
        </ul>
    </div>
</nav>
 