<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span><img alt="image" class="img-circle" src="${base}/hplus/img/user.jpg" style="width:64px;height:64px;margin-left: 35px;"/></span>
                   <!-- <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear" style="margin-left: 35px;margin-top: 5px;">
	                       <span class="text-muted text-xs block"><span id="naspAgentName">HJL</span><b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                    	<li><a class="" href="javascript:;" onclick="layerModel('${base}/updatepwd_view', '修改密码', '35%', '80%', false)">修改密码</a></li>
                    </ul>-->
                </div>
                <div class="logo-element">XX</div>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-columns"></i>
                    <span class="nav-label">Excel导入导出</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li><a class="J_menuItem" href="${base}/excel/export.do" data-index="2">Excel导出</a></li>
                </ul>
                <ul class="nav nav-second-level">
                    <li><a class="J_menuItem" href="${base}/excel/import.do" data-index="3">Excel导入</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-group"></i>
                    <span class="nav-label">上传图片</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li><a class="J_menuItem" href="${base}/img/duoimg" data-index="4">多图片上传</a></li>
                    <li><a class="J_menuItem" href="${base}/img/form_webuploader" data-index="5">WebUploader</a></li>
                </ul>
            </li>

        </ul>
    </div>
</nav>
 